<div class="container">
    <div class="row">
        <label>Search posts</label>
        <input type="text" class="form-control" [(ngModel)]="query">
    </div>
    <div class="row">
        <div *ngFor="let p of (posts | pipe | searchFilter:query)" style="border: 1px solid grey; margin-top: 2px;">
            <h5>Title</h5>
            <p>{{p.title}}</p>
            <h5>Body</h5>
            <p>{{p.body}}</p>
            <!-- <a  class="btn btn-primary" [routerLink]="['/posts',p.id]">Go</a> -->
        </div>
    </div>
</div>